*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
body {
  background-color: #2D1E6B;
  font-family: 'Permanent Marker', cursive;
  color: white;
}



/* Navbar styling */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  height: 80px;
  margin: 0 auto;
  padding: 0 30px;

  background-color: rgba(229, 198, 198, 0.1);
  border-radius: 12px;
}


/* Logo container */
#logo-container {
    
    align-items: center;  
    width: 120px;
    height: 60px;
}

/* Video logo */
#logo-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;           /* perfect cover */
  border-radius: 8px;          /* optional */
}

#nav-items{
    display: flex;
    width: 500px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

#nav-items li{
    cursor: pointer;
    transition: color 0.3s;
}
#nav-items li:hover{
    color: #ffcc00;
}
 
#navbar .right{
    font-size: 22px;
    cursor: pointer;
}


/*fixing main header*/
#main-header {
  width: 80%;
  margin: 60px auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}


/* left section*/
#main-header .left {
    
  width: 50%;

  height: 100%;

}
#main-header .right {
  width: 90%;
  height: 100%;
  z-index: -10;
  
}


.big-text {
  font-size: 48px;
  line-height: 1.2;
}

/*right image */
#main-header .right img {
  width: 80%;
  max-width: 100vh;
  
  
}


